{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" type="text/css"  href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css">
<!-- <link rel="stylesheet" type="text/css"  href="{% static 'cma/js/jquery-ui-1.13.3/jquery-ui.min.css' %}"></script> -->
<link rel="stylesheet" type="text/css"  href="{% static 'cma/css/nouislider.min.css' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cma/css/style.css' %}" />
{% endblock %}

{% block extrahead %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script> -->
<script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://www.unpkg.com/wicket@1.3.8/wicket.js"></script>
<!-- <script src="{% static 'cma/js/jquery-ui-1.13.3/jquery-ui.min.js' %}"></script> -->
<script src="{% static 'cma/js/nouislider.min.js' %}"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>


{% endblock %}

{% block content %}

{% include './overlay_uploadshp.html' %}
{% include './overlay_uploadcsv.html' %}
{% include './overlay_uploaddatalayer.html' %}
{% include './overlay_uploadgeojson.html' %} 
{% include './overlay_datalayer_info.html' %}
{% include './overlay_modelinfo.html' %}
{% include './overlay_processingsteps.html' %}
{% include './overlay_parametersform.html' %}
{% include './overlay_load_cma.html' %}
{% include './overlay_loadmodelrun.html' %}
{% include './overlay_sitestable.html' %}
{% include './overlay_new_model_are_you_sure.html' %}


<div id="message_modal_small" >
    <div class="close-top" onclick="$('#message_modal_small').hide()">
        <img class="close-top-img" height=22 
            src="{% static 'cma/' %}img/close-dark.png" 
            onmouseover="this.src='{% static 'cma/' %}img/close-light.png'"
            onmouseout="this.src='{% static 'cma/' %}img/close-dark.png'">
    </div>
    <div class='content'></div>
</div>


<div id='message_modal' class='overlay'>
    <div class="modal" >
        <div class="close-top" onclick="$('#message_modal').hide()">
            <img class="close-top-img" height=32 
                src="{% static 'cma/' %}img/close-dark.png" 
                onmouseover="this.src='{% static 'cma/' %}img/close-light.png'"
                onmouseout="this.src='{% static 'cma/' %}img/close-dark.png'">
        </div>
        <div class='message_modal_header'></div>
        <div class='message_modal_content'></div>
    </div>
</div>

<div id='graph_modal' class='overlay'>
    <div class="modal" >
        <div class="close-top" onclick="$('#graph_modal').hide()">
            <img class="close-top-img" height=32 
                src="{% static 'cma/' %}img/close-dark.png" 
                onmouseover="this.src='{% static 'cma/' %}img/close-light.png'"
                onmouseout="this.src='{% static 'cma/' %}img/close-dark.png'">
        </div>
        <div id='graph_modal_header' class='message_modal_header'></div>
        <div id='graph_modal_content' class='message_modal_content'></div>
    </div>
</div>

<div class='flex-container main'>
    <div class='flex-child control_panel'>
        <div id='control_panel'>
            <div id='sidebar_collapse_button'>&#11207;</div>
            <div class='collapse deposit_sites'>
                <div class='header topbar deposit_sites'><span class="collapse">+ </span> Known deposit sites
 
                    <div class='topbar_button super'>
                        <img src="/static/cma/img/dots-24b.png" height="16px" class="download_icon">
                    </div>
                
                </div>
                <div class='content main'>
                    <table class='datalayer_table known_deposit_sites'>
                        <tr>
                            <td class='label'>Commodity:</td>
                            <td align='right'>
                                <select id='commodity' onChange="validateLoadSitesButton();">
                                    <option value="" disabled selected hidden>Select...</option>
                                    <!--{% for commodity in commodities %}
                                        <option value="{{commodity}}">{{commodity}}</option>
                                    {% endfor %}-->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class='label'>Primary deposit type:</td>
                            <td align='right'>
                                <select id='top1_deposit_type' onChange="validateLoadSitesButton();">
                                    <option value="" disabled selected hidden>Select...</option>
                                    <!--{% for commodity in commodities %}
                                        <option value="{{commodity}}">{{commodity}}</option>
                                    {% endfor %}-->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class='label'>Primary deposit type confidence:</td>
                            <td align='right'>
                                >=<input id='top1_deposit_classification_confidence__gte' onChange="validateLoadSitesButton();" type='number' min=0, max=1 value=0.50 step=0.1>
                            </td>
                        </tr>
                        <tr>
                            <td class='label'>Only sites w/ grade/tonnage data:</td>
                            <td align='right'>
                                <input id='only_gradetonnage' onChange="validateLoadSitesButton();" type='checkbox'>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class='label'>Record quality rank:</td>
                            <td align='right'>
                                <label>A <input class='dedup_chk rank' type='checkbox' id='rank__A' checked /></label>
                                <label>B <input class='dedup_chk rank' type='checkbox' id='rank__B' checked /></label>
                                <label>C <input class='dedup_chk rank' type='checkbox' id='rank__C' checked /></label>
                                <label>D <input class='dedup_chk rank' type='checkbox' id='rank__D' /></label>
                                <label>E <input class='dedup_chk rank' type='checkbox' id='rank__E' /></label>
                                <label>U <input class='dedup_chk rank' type='checkbox' id='rank__U' checked /></label>
                            </td>
                        </tr>
                        <tr>
                            <td class='label'>Type:</td>
                            <td align='right'>
                                <label>Occurrence <input class='dedup_chk type' type='checkbox' id='type__Occurrence'  /></label><br>
                                <label>Prospect <input class='dedup_chk type' type='checkbox' id='type__Prospect' checked /></label><br>
                                <label>Past producer <input class='dedup_chk type' type='checkbox' id='type__Past_Producer' checked /></label><br>
                                <label>Producer <input class='dedup_chk type' type='checkbox' id='type__Producer' checked /></label><br>
                                <label>Plant <input class='dedup_chk type' type='checkbox' id='type__Plant' /></label><br>
                                <label>Unknown/Not Specified <input class='dedup_chk type' type='checkbox' id='type__NotSpecified' checked /></label>
                            </td>
                        </tr>
                        <tr title='Limits the number of results returned for the query; lower values will load faster. For no limit, use -1.'>
                            <td class='label'>Results limit:</td>
                            <td align='right'><input id='mineral_sites_limit' type='number' min='-100' value=-1 step=100 /></td>
                        </tr>
                        <tr id='mineral_sites_extent_tr'> 
                            
                        </tr>
                        <!-- <tr id='mineral_sites_display_by' title='Choose how sites are displayed'>
                            <td class='label'>Display by:</td>
                            <td align='right'><select id='sites_display_select'>
                                <option title='Color sites by whether they are a producer, past producer, prospect, etc.' value='site_type' selected>Site type</option>
                            </select></td>
                        </tr>-->
                        <!--   <tr>
                            <td class='label'>AOI:</td>
                            <td align='right'><div id='query_instructions'><span class="highlight">
                                (draw) poly <a onClick=drawStart("polygon")>
                                <img src="/static/cma/img/draw-polygon-icon.png" 
                                    height="17"
                                    id="draw_polygon_icon" /></a> | 
                                rect <a onClick=drawStart("rectangle")>
                                <img src="/static/cma/img/draw-rectangle-icon.png"
                                    height="17"
                                    id="draw_rectangle_icon" ></a>
                            </div></td>
                        </tr>-->
                        <tr>
                            <td colspan=2 align='center'>
                                <div class='mineral_sites_results_message'>
                                # query results: <span class='mineral_sites_n_results'>--</span>
                                    <br>
                                </div> 
                                <div id="clear_sites_button" class='button load_sites sites cancel disabled' onClick='clearMineralSites();'>Clear results</div>
                                <div id="load_sites_button" class='button load_sites sites disabled' onClick='loadMineralSites();'>Load/refresh</div>
            <!--                        <div id="show_histogram_button" class='button load_sites sites histogram disabled' onClick='createTonnageHistogram();'>Tonnage histogram</div>-->
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class='collapse' id='datalayer_container'>
               
                <div class='header topbar toptop'><span class="collapse">+ </span> Prospectivity layers
                    <div class='topbar_button super'>
                        <img src="/static/cma/img/layer-48.png" height="20px" class="download_icon">
                    </div>
                </div>
                <div class='content main'>
    
                   <!-- <div class='collapse sub'>
                        <div class='header topbar sub'><span class="collapse">+ </span> User layers</div>
                        <div class='content'>
                             <div class='button load_sites upload' title='Upload a data layer' onclick="$('.modal_uploaddatalayer').show();">Upload</div>
                            
                        </div> <!--content-->
                     <!--collapse_sub-->
 
                {% for category,cobj in datalayers.items %}
                    <div class='collapse sub'>
                        <div class='header topbar sub {{category}}'><span class="collapse">+ </span> {{category}}{% if category == "User uploads" %}<div class='topbar_button'><img src="{% static 'cma/img/upload-32.png' %}" height="16px" class="download_icon"" onclick="$('.modal_uploaddatalayer').show();"/></div>{% endif %}</div>
                        <div class='content'>
                            {% if category == "model outputs" %} 
                                <div id='model_output_layers_filter'>
                                    Filter MPM outputs: <select onchange='loadModelOutputs();'>
                                        <option value='all'>all</option>
                                    </select>
                                </div>
                            {% endif %}
                            <table class='datalayer_table'
                                {% if category == "User uploads" %} id='user_upload_layers_table'{% endif %}
                                {% if category == "model outputs" %} id='model_outputs_table'{% endif %}
                            >
                            {% if category != 'model outputs' %}
                            {% for subcategory,layers in cobj.items %}
                                <tr class='subcategory_label'>
                                    <td>{{subcategory}}</td>
                                    <td class='colname'>Info</td>
                                    <td class='colname'>Show</td>
                                    <td class='colname'>Download</td>
                                    <td class='colname radiocube'>Add to cube</td>

                                </tr>
                                {% for layer in layers %}
                                    <tr data-path="{{layer.data_source_id}}"  onmouseover='showLayerExtentPreview("{{layer.data_source_id}}");' onmouseout='hideLayerExtentPreview();'>
    <!--                                     <td class='subcategory'>{{layer.subcategory}}</td> -->
                                        <td class='name' title='{{layer.name}}'>{{layer.name_pretty}}{% if layer.data_format == 'shp' %}*{% endif %}</td>
                                        <td class='info' onclick='showDataLayerInfo("{{layer.data_source_id}}");'><img src="{% static 'cma/img/information.png' %}" height="16px" class="download_icon"></td>
                                        <td class='show_chk'>
                                            {% if layer.data_format != 'shp2' %}
                                            
                                            <input type='checkbox' onChange='onToggleLayerClick(this,"{{layer.data_source_id}}");' />
                                            {% else %}
                                                <a href='{{layer.download_url}}' target='_blank'>{{ layer.data_format }}</a>
                                            {% endif %}
                                        </td>
                                        <td class='download'>
                                            <a href='{{layer.download_url}}' target='_blank'>
                                                {{ layer.data_format }}
                                                <!--<img src="{% static 'cma/img/download-32.png' %}" height=12 width=12 />-->
                                            </a>
                                        </td>
                                        <td>
                                            <div class="radiocube" align="left">
                                                <input type="radio" name="radiocube_{{layer.data_source_id}}" value="no" checked>
                                                <label class='no' for="radiocube_{{layer.data_source_id}}" onclick="onRadioCubeClick(this);">N</label>
                                                <input type="radio" name="radiocube_{{layer.data_source_id}}" value="yes" >
                                                <label class='yes' for="radiocube_{{layer.data_source_id}}" onclick="onRadioCubeClick(this);">Y</label>
                                            </div>
                                        </td>
                  
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            {% endif %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
 
            
            <div class='collapse modeling'>
                <div class='header topbar modeling modeling_topbar'><span class="collapse">+ </span> Model Tools
                    <div class='topbar_button super'>
                        <img src="/static/cma/img/tools-30.png" height="20px" class="download_icon">
                    </div>
                
                </div>
                <div class='content main'>
                    <!--<div id='modeling_progress_message' class='modeling_message'>Model run(s) in progress:
                        <table class='model_run_status'>
                        </table>
                    </div>-->
                    <div class='mpm_top_options modeling'>
                        <span class='start_cma_link' onClick='startNewModelRun(true);'>new run </span> | 
                        <span class='start_cma_link' onClick="$('#load_model_run').show();">load run</span> <span id='modeling_status_navigation'>| <span id="model_run_status" class='start_cma_link' onClick='showModelRunStatus();'>status</span></span>
                    </div>
                    <div id='modeling_status_pane'>
                        <div class='back_arrow' onclick='showModelingMainPane();' title='Go back to model configuration options'>&#129032;</div>back to model configuration
                        <!--<div class='model_run_status_title modeling_message' title='Stay on this page to see modeling status updates'>Status for model runs submitted during this session:</div>-->
                        <div id='model_run_status_list'>
                            <!--<thead>
                                <tr class='subcategory_label'>
                                    <td class='colname'>Run ID</td>
                                    <td class='colname'>Submitted at</td>
                                    <td class='colname'>Status</td>
                                    <td class='colname'>Last updated</td>
                                </tr>
                            </thead>
                            <tbody></tbody>-->
                        </div>
                    </div>
                    
                    <div id='modeling_main_pane'>
                    <div id='modeling_initial_message' class='modeling_message'><span class='start_cma_link' onclick='showInitializeCMAform();'>Initiate</span> or <span onclick='showLoadCMAmodal();' class='start_cma_link'>load</span> an MPM to enable modeling tools.</div>
                    <div id='modeling_initial_message2' align='center'>
                        
                        <div id="load_model_run" class="button load_sites sites load" onclick="$('#load_model_run').show();">Load model run</div>
                        <div id="new_model_run" class="button load_sites sites submit" onclick="startNewModelRun();">New model run</div>
                    </div>
                    
                    <div class='model_select_div'>
                       
       <!--                 <div class='model_run_instructions'><span class='start_cma_link' onclick="$('#load_model_run').show();">Load an existing model run</span> or <span class='start_cma_link' onclick='resetModelUI(true);'>start a new run</span>.</div>-->
                        
                        
<!--                         <div id='model_run_status'>submission status</div> -->
                        
                         <div id='model_run_loaded' class='model_run_instructions' title='Model run ID for the configuration specified below. A run ID will be generated when user clicks "Submit model run"'>Config. for model run ID: <span class='model_run_id disabled'>[none loaded]</span> <span id='model_run_edited'>[edited]</span></div>
                        
                        Model type: <select id='model_select' onChange="onModelSelect();">
                            <option value="" disabled selected hidden>Select...</option>
                            
                        </select> <img src="/static/cma/img/information.png" height="18px" class="download_icon" onclick='showModelInfo();'>
                       
                    </div>
                    
                    <div class='selected_model_description'></div>
                    <div class='button selected_model_config' onclick='showModelParameters();'> Configure model parameters <img src="{% static 'cma/img/form_white.png' %}" height=12 width=12 /></div>
                    <div class='collapse sub collapse_datacube'>
                        <div class='header topbar sub datacube'><span class="collapse">+ </span> Input layers <span class='header_info datacube warning'>[0 layers added]</span></div>
                        <div class='content datacube'>
                        
                            <!--<div class='collapse sub sub2'>
                                <div class='header topbar sub'><span class="collapse">+ </span> Load</div>
                                <div class='content datacube'></div>
                            </div>
                            <div class='collapse sub sub2'>
                            <div class='header topbar sub'><span class="collapse">+ </span> Build</div>-->
                      <!--      <div class='content datacube'>-->
                            <div class='modeling_instructions'>
                            Use the <b>DATA LAYERS</b> 'Add to cube' column to add layers to the input data cube
                           <!-- Load an existing <span class='goto' onclick='$("#datacube_id").trigger("focus");'>data cube ID</span>, or use the <b>DATA LAYERS</b> selector to add layers to build a new data cube-->
                            </div>
          <!--                  <table class='modeling_params'>
                                <tr>
                                    <td class='label'>Data cube ID:</td>
                                    <td><input type='text' id='datacube_id' /></td>
                                </tr>
                        
                            </table>-->
                            <table id='datacube_layers' class='datacube_layers_table'>
                                <thead><tr>
                                    <td class='layer'>Data layer</td>
                                    <td>Processing steps</td>
                                    <td></td>
                                </tr></thead>
                                <tbody>
                                    <tr class='cube_layer instructions'>
                                        <td colspan=3 align='center'></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id='datacube_message_div' class='modeling_instructions'></div>

                            
<!--                             <div id="datacube_btn_build" class='button load_sites disabled' onClick=''>Build</div> -->
                   <!--         </div> <!--content datacube (build)-->
<!--                             </div> <!--'collapse sub sub2'--> 
                        </div> <!--content datacube-->
                    </div> <!--collapse sub-->
    <!--                <div class='collapse sub collapse_parameters'>
                        <div class='header topbar sub'><span class="collapse">+ </span> Parameters</div>
                        <div class='content model'>-->
                        <!--</div>--> <!--content model-->
                   <!-- </div>--> <!--collapse sub (model)-->
                    <div class='collapse sub collapse_training'>
                        <div class='header topbar sub'>
                            <span class="collapse">+ </span> Training data
                            <span class='header_info training warning'>[<span id='training_info_using_processed_lr'></span><span id='training_info_using_sites'><span class='mineral_sites_n_results training'>--</span> sites selected<span id='training_data_user_sites_label'> (<span class='mineral_sites_n_included'></span> queried + <span class='n_user_upload_sites'></span> uploaded)</span></span>]</div>
                        <div class='content training'>
                            <div class='modeling_instructions'>
                            If no <b>label raster</b> in the MODEL PROCESSED LAYERS list below is selected, the model will use the <span id='n_training'></span> sites selected in the <b>KNOWN DEPOSIT SITES</b> section above for training. To filter out specific sites, click on the site or <span class='link' onclick="loadMineralSitesToTable();$('#show_sites').show();">open the sites table</span> and click on the <b>exclude</b> checkbox.<br><br>
                            Users can also <span class='link' onclick='$(".modal_uploadcsv").show();'>upload a CSV file</span> containing lat/lons of additional sites they would like to include. 
                            </div>
                            <div class='modeling_instructions' id='user_upload_sites_tools'>
                                User upload sites: <span class='n_user_upload_sites'></span> | <span class='link' onclick='clearUserUploadSites();'>clear</span> | <label>show on map: <input id='user_upload_sites_show' type='checkbox' onclick='toggleUserUploadSitesVisibility();' checked /></label>
                            </div>
                        
                        </div> <!--content training-->
                    </div> <!--collapse sub (training)-->
                 <!--   <div class='collapse sub collapse_model_run'>
                        <div class='header topbar sub'><span class="collapse">+ </span> Run</div>-->
<!--                         <div class='content model_run'> -->
                            <table id='modeling_buttons_table'>
                            <tr>
                                <td><div class='button pretrain'>Pretrain</div></td>
                                <td><div class='button train'>Train</div></td>
                                <td><div class='button test'>Test</div></td>
                                <td><div class='button predict'>Predict</div></td>
                            </tr>
                            </table>
                            <div id='model_button_status' class='warning'></div>
<!--                         </div> <!--content model_run--> 
                  <!--  </div> <!--collapse sub (model_run)-->
                </div> <!--modeling_main_pane-->
                </div> <!--content main-->
            </div> <!--collapse (Modeling)-->
            
            
            <div class='collapse' id='processedlayer_container'>
                
                <div class='header topbar toptop modeling_topbar'><span class="collapse">+ </span> Model processed layers
                    <div class='topbar_button super'>
                        <img src="/static/cma/img/layer-48.png" height="20px" class="download_icon">
                    </div>
                
                </div>
                <div class='content main'>
                    
                </div> <!--content main-->
            </div> <!--collapse processedlayer_container-->

            <div class='collapse model_results' id='outputlayer_container'>
                <div class='header topbar model_results modeling_topbar'><span class="collapse">+ </span> Model outputs
                    <div class='topbar_button super'>
                        <img src="/static/cma/img/layer-48.png" height="20px" class="download_icon">
                    </div>
                
                </div>
                <div class='content main'>
                    <div id='model_output_layers_filter'>
                        Filter MPM layers: <select onchange='loadModelOutputs();'>
                            <option value='all'>all</option>
                        </select>
                        <div class='download' title='Download all model outputs listed below'><img src="/static/cma/img/download-32.png" onclick="downloadModelOutputsBulk()" height=14 width=14 /></div>
                    </div>
                </div> <!--content main-->
            </div> <!--collapse model_results-->
            
        </div><!--control_panel-->
    </div><!--flex-child control_panel -->
    <div class='flex-child map'>
        <div id='map'></div>
    </div>
</div> <!--flex-container main-->

<script type="text/javascript">
//     const COMMODITIES = {{ COMMODITIES|safe }};
    var MODELS = {{ MODELS|safe }};
    const DATALAYERS_LOOKUP = {{ DATALAYERS_LOOKUP|safe }};
    const MAPSERVER_SERVER = '{{ MAPSERVER_SERVER }}';
    const CRS_OPTIONS = {{ CRS_OPTIONS|safe }};
    const PROCESSING_STEPS = {{ PROCESSING_STEPS|safe }};
    const CDR_BEARER = '{{ CDR_API_TOKEN }}';
    var TA1_SYSTEMS = {{ TA1_SYSTEMS|safe }};
</script>
<script src="{% static 'cma/js/leaflet_custom_layer_control.js' %}"></script>
<script src="{% static 'cma/js/cma.js' %}"></script>
{% endblock %}
