<div class="overlay modal_upload modal_uploaddatalayer">
    <div class="modal">
        <form id="uploadForm_datalayer">
        <table class='model_parameters_table'>
            <tr>
                <td class='label'>GeoTIFF:</td>
                <td class='input'>
                    <input id='file_datalayer' class='file' type='file' name='file_datalayer' >
                    <label for='file_datalayer'>
                        <span>CHOOSE TIF</span>
                    </label>
                </td>   
            </tr>
           <!-- <tr class='instructions'>
                <td>
                <td>
                    If selecting a <b>shapefile</b>, include all of the <span class='highlight shp'>.shp</span>, <span class='highlight shx'>.shx</span>, <span class='highlight prj'>.prj</span>, and <span class='highlight dbf'>.dbf</span> files associated with the shapefile.
                </td>
            </tr>-->
            <tr>
                <td class='label'>Layer name:</td>
                <td><input id='uploaddl__description' type='text' /></td>
            </tr>
            <tr>
                <td class='label'>Data type:</td>
                <td>
                    <select id='uploaddl__datatype' value='continuous'>
                        <option value='continuous'>continuous</option>
                        <option value='binary'>binary</option>
                        <option value='categorical'>categorical</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class='label'>Category:</td>
                <td>
                    <select id='uploaddl__category' value='continuous'>
                        <option value='geophysics'>Geophysics</option>
                        <option value='geology'>Geology</option>
                        <option value='geochemistry'>Geochemistry</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class='label'>Subcategory:</td>
                <td><input id='uploaddl__subcategory' value='User upload' type='text' /></td>
            </tr>
            <tr>
                <td class='label subheader' colspan=2>Optional metadata</td>
            </tr>
            <tr>
                <td class='label'>Author:</td>
                <td><input id='uploaddl__author' type='text' /></td>
            </tr>
            <tr>
            <td class='label'>Publication date (YYYY-MM-DD):</td>
                <td><input id='uploaddl__publication_date' type='text' /></td>
            </tr>
            <tr>
                <td class='label'>Reference URL:</td>
                <td><input id='uploaddl__reference_url' type='text' /></td>
            </tr>
            <tr>
                <td class='label'>DOI:</td>
                <td><input id='uploaddl__doi' type='text' /></td>
            </tr>
            <tr>
                <td class='label'>Derivative operations:</td>
                <td><input id='uploaddl__derivative_ops' type='text' /></td>
            </tr>
            <tr height="20px"></tr>
            <tr height="20px"></tr>
            <tr>
                <td colspan=2 class='buttons_td'>
                    <div class='button load_sites sites cancel' onclick='$(".modal_uploaddatalayer").hide();'>Cancel</div>
                    <div class='button load_sites sites submit disabled' onclick='uploadDataLayer();'>Submit</div>
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
