<div class="overlay model_run_are_you_sure">
    <div class="modal">
        Clicking <span class='new_run_start_label'>Start new run</span> will clear out all current <b>input layer</b> selections and model configuration changes. 
        <br><br>
        If you would like to edit the existing configuration instead of starting from scratch, click <span class='new_run_cancel_label'>Cancel</span>.
        <div class='cma_button_container'>
            <div class='button load_sites cmainit cancel' onClick="$('.model_run_are_you_sure').hide();">Cancel</div>
            <div class='button load_sites cmainit' onClick='startNewModelRun();'>Start new run</div>
        </div>
    </div>
</div>
