{% load static %}
<div id='show_sites' class='overlay'>
    <div class="modal" >
        <div class="close-top" onclick="$('#show_sites').hide()">
            <img class="close-top-img" height=32 
                src="{% static 'cma/' %}img/close-dark.png" 
                onmouseover="this.src='{% static 'cma/' %}img/close-light.png'"
                onmouseout="this.src='{% static 'cma/' %}img/close-dark.png'">
        </div>
        <div class='parameters_form_title'>Known deposit sites</span></b></div>
        <div class='content'>
            <table class='model_parameters_table cmamodelrun' id='sites_table'>
                <thead>
                    <tr>
                        <td colspan=3 class='top'></td>
                        <td colspan=3 class='primdep_header sources sources top'>Source(s)</td>
                        <td class='break top'></td>
                        <td colspan=5 class='primdep_header top'>Primary deposit</td>
                    </tr>
                    <tr class='sites_sort_th'>
                        <td class='sites_table_exclude_td' data-prop='exclude' title='Check to exclude this site from being included in the training data set'>Excl.</td>
                        <td data-prop='id'>ID</td>
                        <td data-prop='commodity'>Comm.</td>
                        <td class='primdep_header sources'>name</td>
                        <td class='primdep_header sources'>type</td>
                        <td class='primdep_header sources'>rank</td>
                        <td class='break'></td>
                        <td data-prop='top1_deposit_type' class='primdep_header'>type</td>
                        <td data-prop='top1_deposit_group' class='primdep_header'>group</td>
                        <td data-prop='top1_deposit_environment' class='primdep_header'>env.</td>
                        <td data-prop='top1_deposit_classification_confidence' class='primdep_header'>conf.</td>
                        <td data-prop='top1_deposit_classification_source' class='primdep_header'>source</td>
                    <tr>
                </thead>
                <tbody id='sites_tbody'>
                </tbody>
            </table>
        </div>
    </div>
</div>
