{% load static %}
<div class="overlay parameters_form">
    <div class="modal">
        <div class='parameters_form_title'></div>
        <div class="close-top" onclick="$('.parameters_form').hide()">
            <img class="close-top-img" height=32 
                src="{% static 'cma/' %}img/close-dark.png" 
                onmouseover="this.src='{% static 'cma/' %}img/close-light.png'"
                onmouseout="this.src='{% static 'cma/' %}img/close-dark.png'">
        </div>
        <div class='parameters_form_table'>
        </div>
        
    </div>
</div>
