@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

@font-face {
    font-family: Avenir;
    src: url("/static/fonts/AvenirNext_PC/AvenirNext_PC/AvenirNext-Regular.ttf") format("opentype");
}

.flex-container {
    display: flex;
}

.flex-container.main {
    height: 100%;
}

.flex-child.control_panel {
    transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    width: 40%;
/*     flex: 2; */
/*     border: 2px solid yellow; */
}  

.flex-child.map {
    flex: auto;
/*      width: 60%;  */
}

#map {
/*     display: inline-block; */
    height: 800px;
/*     width: 66%; */
}
#control_panel {
/*     display: inline-block; */
/*     width: 33%; */
    height: 800px;
    
}

#content {
    padding: 0px;
}

body {
    background: #444;
}

td, th {
    border-bottom: None;
    padding: 4px 2px;
}

#header {
    background: #444;
    padding: 10px 30px;
}

#branding h1 {
    font-size: 2.0rem;
/*     font-style: italic; */
    font-weight: 600;
    color: #ccccff;
    letter-spacing: .04rem;
/*     font-family: Avenir, 'PT Sans' */
    
}

div.breadcrumbs {
/*     display: none; */
    background: #777;
    padding: 8px 40px;
}


.overlay {
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    display: none;
    position: fixed; 
    z-index: 9990;
    background-color: rgba(50,50,50,0.8);
}
.modal {
    position: absolute; 
    width: 80%;
    background-color: #333;
    opacity: 0.95;
    border-radius: 3px;
    top:50%;
    left:50%;
    overflow: visible;
    transform: translate(-50%, -50%);
    padding: 10px 0px;
    margin: 0px auto;
}


.button {
    width: 160px;
/*     height: 100px; */
    border-radius: 3px;
    text-align: center;
    background: #888;
    margin: 8px auto 0px auto;
    font-size: 32px;
    line-height: 34px;
    cursor: pointer;
    padding: 3px 12px;
}
.button:hover {
    background: #444;
}


.leaflet-control-layers-table_label th {
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    padding-bottom: 3px;
    height: 46px;
    vertical-align: bottom;
/*    height: 50px;*/
/*    width: 40px;*/
/*    position: relative;
    vertical-align: bottom;
    padding: 0;
    line-height: 0.8;*/

}

.leaflet-control-layers-table_label th div {
    width: 14px;
    height: 6px;
    -ms-transform: rotate(-80deg); /* IE 9 */
    -webkit-transform: rotate(-80deg); /* Chrome, Safari, Opera */
    transform: rotate(-80deg);
    transform-origin: left bottom 0;
    float: right;

}

.customLayerControl_th span {
/*    left: -20px;*/
}

.customLayersTableDiv {
    margin-top: 0px;
    max-height: 600px;;
    overflow: auto;
}

table.customLayersTable {
    border-spacing: 0px;
    width: 100%;
}
.customLayersTable td {
    text-align: right;
    vertical-align: top;
}

.layerLabelAndCheck {
    height: 19px;
    vertical-align: bottom;
    font-size: 12px;
    
}
/*.leaflet-control-layers-overlays {
    font-size: 12px;
    vertical-align: middle;
}*/
.layerCheckbox {
    display: inline;
    height: 19px;
    font-size: 16px;
    vertical-align: top;
    padding: 0.5px;
    margin-left: 10px;

}

.layerLabelAndCheck.footer {
    margin-top: 12px;
    padding-bottom: 4px;
    font-size: 10px;
    vertical-align: top;
}
.layerLabelAndCheck.other {
/*    margin-top: 12px;*/
    text-align: left;
    
}

.leaflet-control-layers-list {
    margin-bottom: 0px;
}

.leaflet-control-layers {
/*    background-color:rgba(256,256,256,0.8);*/
    background-color: transparent;
    padding-top: 34px;
/*    margin-right: 5px;
    margin-bottom: 5px;*/
    border-radius: 2px;
/*    box-shadow: none;*/
}
.leaflet-control-layers td,
.leaflet-control-layers th {
    background-color:#333;
}
.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    margin: 3px 6px 6px 0px;
    padding: 0px 0px 2px 0px;
    border: none;
}

.layerLabelAndCheck.footer input[type='radio'] {
    margin-left: 2px;
}

.layerLabelAndCheck.footer {
    height: auto;
}
.layerLabelAndCheck.footer div {
    padding-right: 5px;
}

/*tr.m-basemap-selector,
tr.m-basemap-selector td {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}*/
tr.m-basemap-filler { 
    height: 4px;
}
tr.m-basemap-filler2 { 
    height: 12px;
    background-color: #333;
}
tr.m-basemap-filler3 { 
    height: 2px;
    background-color: #333;
}

tr.m-basemap-year-divider td,
tr.m-basemap-headeroo td { 
    text-align: left;
    font-size: 13px;
    font-family: monospace, Arial;
    color: #c2c2c2;
    padding: 4px 4px 2px 4px;
    border-top: 1px dashed #444;
    cursor: pointer;
/*    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;*/
}
tr.m-basemap-year-divider td:hover {
    color: #fff;
    font-weight: bold;
}
tr.m-basemap-year-divider td.year_label {
    width: 130px;
}
tr.m-basemap-selector td {
    font-size: 13px;
    text-align: left;
    vertical-align: top;
    font-family: monospace, Arial;
}
tr.m-basemap-selector td.control_label {
    cursor: default;
    padding: 1px 6px 0px 8px;
    font-size: 12px;
    border-bottom: None;
}
tr.m-basemap-selector td.control_label.date {
    color: #ffffcc;
    padding-left: 14px;
    width: 50px;
}
tr.m-basemap-selector td.control_label.source {
    color: #8faabc;
/*     font-family: 'PT Sans Narrow'; */
    font-size: 13px;
    cursor: pointer;
}
tr.m-basemap-selector {
    cursor: pointer;
}
tr.m-basemap-selector {
    color: #fff;
}
tr.m-basemap-selector td.control_label.product {
    color: #999;
    font-size: 11px;
}
.customLayersTable td.off {
    color: #c2c2c2;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    font-family: monospace;
    padding: 3px 0px 1px 14px;
}
tr.m-basemap-selector td.control_input {
    text-align: right;
    padding: 1px 0px 0px 0px;
    vertical-align: top;
}
tr.m-basemap-selector td.control_input input[type='checkbox'] {
    margin: 0px 3px 0px 0px;
    
}
tr.m-basemap-selector input {
    margin-top:0px;
    cursor: pointer;
    
}
tr.m-basemap-selector.header {
    font-weight: 600;
    text-transform: uppercase;
}
tr.m-basemap-selector.header td {
    background-color: rgba(80,80,80,0.9);
    color: #d9d9d9;
    font-size: 13px;
    padding: 4px 2px 2px 6px;
    margin-bottom: 2px;
/*     font-family: 'PT Sans'; */
    cursor: pointer;
}
tr.m-basemap-selector.header td:hover {
    color: #fff;
}
tr.m-basemap-selector.header td.collapse {
    text-align: right;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 8px;
    border-radius: 0px;
}
tr.m-basemap-selector.header td.collapse:hover {
    font-weight: 800;
}
tr.m-basemap-selector.header.first td {
    margin-top: 0px;
}
tr.m-basemap-selector.buffer {
    height: 4px;
/*     background-color: transparent; */
}
tr.m-basemap-selector.divider {
    height: 3px;
    background-color: transparent;
}

.leaflet-control-layers-table_cell_1 {
    padding: 0px 0px 0px 3px;
}


.leaflet-popup-tip-container {
    display: none;
    
}
.leaflet-popup-close-button {
    display: none;
    
}
.leaflet-popup-content-wrapper {
    border-radius: 2px;
    background: #444;
    color: #fff;
}
.leaflet-popup-content {
    margin: 4px 6px;
}


.item {
    clear:both;
/*    margin:0px -34px 0 0px;*/
    margin:0px 0px 0 0px;
    line-height:14px;
    font-size: 11px;
    color:#999;
    text-align:left;
    vertical-align: bottom;
}
.bin {
    float:left;
    width:12px;
    height:12px;
    margin:0px 5px 1px 0px;
    border:1px solid #222;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.leaflet-control-layers {
    min-width: 180px;
}

.leaflet-left .leaflet-control {
    margin-left: 6px;
}
.leaflet-top .leaflet-control {
    margin-top: 6px;
}
.controlPanel {
    min-width: 200px;
    padding: 4px;
    border-spacing: 0px;
    background-color: rgba(80, 80, 80, 0.9);
    border-radius: 1px;
    color: #fff;
    
}
.controlPanel table {
    padding: 4px;
    font-family: monospace, Arial;
    margin: 0px auto;
    
}
.controlPanel tr {
    background-color: transparent;
}
.controlPanel tr.title {
/*     background-color: rgba(80, 80, 80, 0.9); */
    color: #d9d9d9;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.controlPanel tr.title td {
    text-align: center;
    
}
.controlPanel td {
    vertical-align: middle;
}
.controlPanel img {
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    
}

select {
    padding: 1px 3px;
    height: 1.6rem;
}

.button.load_sites {
    font-size: 1.1rem;
    line-height: 1.5rem;
    background-color: #6aaf7a;
    width: 80%;
    margin: 10px auto;
}
.button.load_sites:hover {
    background-color: #24422b;
}
.button.load_sites.disabled {
    cursor: default;
    background-color: #999;
    pointer-events: none;
    
}

.collapse .header.topbar {
/*     font-style: italic; */

    width: 100%;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #333;
    padding: 4px 8px;
/*    margin-bottom: 16px;*/
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    font-family: 'monospace';
    font-size: 1.3rem;
    color: #b3b3b3;
    margin-bottom: 0px;
}

.collapse.sub .header.topbar {
    margin: 0px 10px;
    background-color: transparent;
    font-size: 1.0rem;
    padding: 2px 8px;
    color: #90d590;
}

.collapse {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.collapse div {
    width:100%;
}

.collapse .header {
    width: 250px;
    padding: 2px 0px 2px 0px;
/*    margin-right: 10px;*/
    cursor: pointer;
    font-weight: 500;
}
.collapse .header.topbar:hover {
    background-color:#222;
}

.collapse .header div {
/*    padding: 0px 0px 0px 6px;*/
    
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.collapse .header span .plus {
    padding-left: 0px;
    color:#70AA70;
}

.collapse .header span .minus {
    padding-left: 0px;
    color:#C26666;
}
.collapse .header d:hover {
    color: #333; 
}
.collapse .content {
    display: none;
    /*background-color: #444;*/
/*     padding: 0px 2px; */
    margin-top: 6px;
    margin-bottom: 2px;
}
.collapse.sub .content{
    margin-top: 0px;
}
span.collapse {
    font-weight: 700;
    color: #f2f2f2;
    font-family: monospace;
}
.datalayer_table {
    margin: 0px 12px;
    width: calc(100% - 24px);
    
}
.datalayer_table tr {
    background-color: transparent;
    color: white;
    font-size: 0.8rem;
    transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}
.datalayer_table tbody tr:nth-child(odd) {
    background-color: rgb(78, 78, 78);
    
}
.datalayer_table td {
    padding: 2px 4px;
}
.datalayer_table td.name,
#datacube_layers td.name {
    font-family: 'Open Sans Condensed';
    font-size: 0.85rem;
    max-width: 200px;
}
.datalayer_table td.show_chk {
    text-align: center;
}
.datalayer_table td.info {
    text-align: center;
    cursor: pointer;
}

#datalayer_container .content.main {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: clip;
    direction: rtl;
    scrollbar-color: #555 #888;
    scrollbar-width: thin;
    margin-top: 0px;
}
#datalayer_container .collapse.sub {
    direction: ltr;
    
}
.datalayer_table tbody tr.subcategory_label
{
    background-color: transparent;
    
}
.datalayer_table tbody tr:hover {
    background-color: #222;
    
}
tr.subcategory_label td {
    padding: 14px 4px 4px 4px;
    color: #fdc086;
    font-size: 0.8125rem;
    border-bottom: 1px solid #555;
}
tr.subcategory_label td.colname,
.content.datacube #datacube_layers thead td {
    font-size: 0.7rem;
    color: #999;
    text-align: center;
}
.editprocessingsteps_table td.colname {
    font-size: 0.82rem;
    color: #999;
    vertical-align: middle;
    
}


.content.datacube #datacube_layers thead td.layer {
    text-align: left;
    padding-left: 4px;
    
}

.datalayer_table input {
    cursor: pointer;
}

select {
    color: white;
    background-color: #333;
    border: none;
    width: 240px;
}
option {
    color: white;
}
#draw_rectangle_icon {
    background-color: #fff;
    border: 1px solid #fc891d;
}
#draw_polygon_icon {
    border: 1px solid #fc891d;
}

.radiocube {
    text-align: center;
    
}
.radiocube input[type='radio'] {
    display: none;
}
.radiocube input + label {
    background-color: #666;
    color: #999;
    font-family: monospace;
    cursor: pointer;
    transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.radiocube input + label:hover {
    color: #fff;
}

.radiocube input:checked + label {
/*     background-color: #8C8C8C; */
    color: #f2f2f2;
    cursor: auto;
}
.radiocube input:checked + label.no {
    background-color: #862d2d;
}
.radiocube input:checked + label.yes {
    background-color: #2d8643;
}
    
.radiocube label {
     padding: 0px 6px;
     margin: 0px;
     border-radius: 2px;
     width: 20px;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed; 
    z-index: 9999;
    background-color: rgba(50,50,50,0.8);
}


.modal {
    position: absolute; 
    background-color: #262626;
    opacity: 0.95;
    border-radius: 4px;
    top:50%;
    left:50%;
    overflow:visible;
    transform: translate(-50%, -50%);
    margin: 0px auto;
}
.overlay .modal {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    transform: translate(0%, 0%);
    overflow-y: auto;
    padding: 24px 40px;
    text-align: left;
/*     font-size: 14px; */
/*     color: #d9d9d9; */
}
#datalayer_info .modal {
    color: #f2f2f2;
    height: auto;
    font-size: 1.0rem;
    cursor: pointer;
}
#datalayer_info .modal div {
    margin-bottom: 20px;
}
#dl_title,
.modal_title {
    font-size: 1.6rem;
    color: #f2f2f2;
    margin-bottom: 20px;
}
.modal_title .subtitle {
    font-size: 1.0rem;
    color: #999;
}
#datalayer_info span.label {
    color: #888;
    font-size: 0.9rem;
}

.content.datacube table {
    background-color: transparent;
    color: white;
/*     margin: 10px 20px 20px 20px; */
    margin: 10px auto 20px auto;
    width: 70%;
/*     width: calc(100% - 40px); */
}
.content.datacube #datacube_layers tbody {
    background-color: #666;
    border: 2px dashed #478556;
}
.content.datacube table tr {
    background-color: transparent;
}

#datacube_btn_build {
    width: 40%;
    height: 2.0rem;
    vertical-align: middle;
    background-color: #6aaf7a;
    cursor: pointer;
}
#datacube_params td {
    text-align: right;
/*     color: #fdc086; */
    padding: 2px 4px;
}

#datacube_params td.label {
    text-align: left;
    color: #bfbfbf;

}
#datacube_resolution,
#datacube_crs {
    width: 80px;
    background-color: #333;
    color: #f2f2f2;
    border: none;
}
#datacube_crs {
    width: auto;
}
#datacube_crs_units {
    color: #9d9dfb;
}
.snapshot {
    display: inline-block;
/*     float: center; */
    text-align: center;
    cursor: pointer;
    padding: 2px 4px 4px 4px;
    border-radius: 2px;
    vertical-align: middle;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
div.img_hover div:last-child {
  display: none;  
}
div.img_hover:hover div:last-child {
  display: block;  
}
div.img_hover:hover div:first-child {
  display: none;  
}
#datacube_layers tbody td {
    padding: 2px 6px;
    vertical-align: middle;
    border-bottom: 0.5px solid #777;
    
}
#datacube_layers td.name {
    font-size: 0.95rem;
    font-weight: 500;
    color: #fff;
    padding: 6px 8px;
    overflow-wrap: normal;
}
#datacube_layers tr.instructions td {
    font-style: italic;
    color: #f2f2f2;
    padding: 4px 4px;
}
#datacube_layers tbody tr:hover {
    background-color: #444;
}
#datacube_layers td.remove {
    padding: 0px 6px;
}
.link {
    color: #fc891d;
    cursor: pointer;
    transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
}
.link:hover {
    color: #e26f03;
}
a {
    cursor: pointer;
}
#datacube_processingsteps .modal {
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

table.editprocessingsteps_table {
    border: none;
}
table.editprocessingsteps_table tr,
table.editprocessingsteps_table td {
    color: white;
    background-color:transparent;
    border: 0px;
    padding: 4px 6px;
}

#processingsteps_listtable {
    margin: 10px auto;
    
}
#processingsteps_listtable td {
    border-bottom: 1px solid #444;
    color: #ffffcc;
    font-size: 0.85rem;
}
#processingsteps_listtable td.delete {
    width: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #ff4d4d;
    cursor: pointer;
    font-family: monospace;
}

.close-top {
    position:relative;
    float:right;
    cursor: pointer;
    top: -18px;
    right:-30px;
}

.header.topbar.sub {
    margin-top: 6px;
}

#sidebar_collapse_button {
    position: relative;
    top: 16px;
    right: -24px;
/*     left: 100%; */
    font-size: 1.3rem;
    width: 24px;
    float: right;
    line-height: 40px;
    padding: 0px; 
    color: #999;
    height: 40px;
    text-align: center;
    border-radius: 0px 3px 3px 0px;
    background-color: rgba(40,40,40,.3);
    z-index: 99999;
    cursor: pointer;
}
#sidebar_collapse_button:hover {
    background-color: #222;
    color: #f2f2f2;
}

#sidebar_collapse_button .symbol_container {
    margin: auto;
}
